.top-menu-layout-container {
    .self-topbar {
        padding: 0 24px;
        width: 100%;
        height: 65px;
        line-height: 65px;
        display: flex;
        box-shadow: 0 6px 6px 0 #eaeaea;
        .self-topbar-left {
            flex: 0 0 auto;
            .self-topbar-logo {
                height: 65px;
                line-height: 65px;
                img {
                    height: 40px;
                    display: inline-block;
                    vertical-align: middle;
                }
                h1 {
                    font-size: 18px;
                    display: inline-block;
                    margin: 0 0 0 12px;
                }
            }
        }
        .ant-menu-light {
            flex: 1 1 auto;
            .ant-menu-item {
            }
        }
    }
}
